.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .user .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    justify-self: start; }
  .user .button-wrapper {
    width: 70%;
    height: calc(100vh - 200px);
    overflow-y: auto;
    margin-bottom: 20px; }
    .user .button-wrapper button {
      margin-bottom: 20px; }
  .user .tips {
    font-size: 1.2rem; }
