<!DOCTYPE html>
<html lang="en">
<head>
    <title>runtime log</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>

</head>
<body>
    <h1>Database log</h1>
    <form id="imageform">
        <input type="file" id="fileUpload" />
        <input type="submit" id="save">
    </form>

    <form ref='uploadForm' 
      id='uploadForm'  
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>  
    

      
    <script type="text/javascript" src="js/datalog.js"></script>
    <script type="text/javascript" src="js/socket.js"></script>  
</body>