<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo page</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script src="js/package/circle-progress.js"></script>
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    

</head>
<style>
    demo{
        position: relative;
        margin-top:10px;
    }
</style>
<body>
    <h1>Database log</h1>
    <!--form id="imageform">
        <input type="file" id="fileUpload" />
        <input type="submit" id="save">
    </form>

    <form ref='uploadForm' 
      id='uploadForm'  
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form-->  

    <div class="demo">111</div>

    
    

      
    <script type="text/javascript" src="js/demo.js"></script>
    
    <!--script type="text/javascript" src="js/socket.js"></script-->  
</body>