<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}"/>
    <style>
</style>
</head>
<body>
    <!--% include partials/modal.html %-->
    <!--% var role = isadmin ? 'manage' : 'user' %-->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-6 offset-md-3 list-group">
                    <div class="row">
                        <div class="col-md-12 offset-md-2" style="display: flex;">
                            <div>
                                <h1 class='top center'>FrameTalk</h1>
                                <h4 class="center">powered by IoTtalk</h4>
                                <h5 class='center'>Google Chrome Version</h5>
                            </div>
                            <div>
                                <img class="img-thumbnail" style="width: 7rem; border: none;" src="../static/NCTU_logo.png">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="accordion">
                        <div class="card">
                            <div id="headingDisplay" class="card-header my_cursor" onclick="location.href = 'https://frametalk.iottalk.tw';">
                                <button class="btn btn-link homepage_label">Frame</button>
                            </div>
                        </div>

						<!-- added 2020/07/30 -->
                        <div class="card">
                            <div id="timeout" class="card-header my_cursor" onclick="location.href = 'Gallery';">
                                <button class="btn btn-link homepage_label">Gallery</button>
                            </div>
                        </div>

                        <!-- modified 2019/12/06 -->
                        <!-- <div class="card">
                            <div id="headingTimeout" class="card-header my_cursor" data-toggle="collapse" data-target="#collpaseTimeout" aria-expanded="true" aria-controls="collpaseTimeout">
                                <button class="btn btn-link homepage_label">設定</button>
                            </div>
                            <div id="collpaseTimeout" class="collapse scroll_card" aria-labelledby="headingTimeout" data-parent="#accordion">
                                <div class="card-body">
                                    <button class="btn btn-link homepage_label">Timeout:</button>
                                    <input type="text" id="timeout_text" placeholder="ex: 50">
                                    <button class="btn btn-info btn-s" id="timeout_btn">確認</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
