<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/manage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 id="title" class="center">上傳檔案 Upload Files</h2>
            <br>
            <form id="upload-photos" class="row" action='/up' 
            method='post' 
            encType="multipart/form-data" >
                <div class="col-md-8 offset-md-2">
                    <div class="form-group ">
                        <h3 class="required">圖片標題 Title</h3>
                        <input type="text" id="name" name = "name_i" class="form-control" placeholder="10字為限 10-words limit" maxlength = "10" required>
                    </div>
                    <div class="form-group ">
                        <h3 class="required">描述 Description</h3>
                        <textarea class="form-control" id="description" name = "description_i" rows="3" placeholder="300字為限 300-letters limit" maxlength = "300" required></textarea>
                        <h6 id="limit"> 0/300 letters </h6>
                    </div>
                    
                    <div class="form-group">
                        <h3 >上傳圖檔 Upload Image</h3>
                        <h6> 解析度要求：至少800x600像素
                            <br>
                             Resolution required: 800x600 pixels at least
                        </h6>
                        <!--p class="help-block">拉動圖片來排序(由左至右，由上至下)</p-->
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9">
                            <input id="upload_file" name="photo" type="file" accept=".png,.jpg,.jpeg, .bmp, .gif " onchange="checkFileDetails()"/>
                        </div>
                        <div class="col-md-3 center">
                            <input id="submit" class="btn btn-warning" type="submit" value="上傳 Upload"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 offset-md-2">
                    <div id="pic_row" >
                        <div class="row" id="movable_pic_row"></div>
                        <p id="img"></p>
                        <p id="fileInfo"></p>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/uploaded.js"></script>
</html>
