<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/manage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 id="title" class="center">上傳檔案</h2>
            <br>
            <form id="upload-photos" class="row" action='/up' 
            method='post' 
            encType="multipart/form-data" >
                <div class="col-md-8 offset-md-2">
                    <div class="form-group ">
                        <h3 class="required">圖片名稱</h3>
                        <input type="text" id="name" name = "name_i" class="form-control" placeholder="ex:" required>
                    </div>
                    <div class="form-group ">
                        <h3>描述</h3>
                        <textarea class="form-control" id="description" name = "description_i" rows="2" placeholder="ex: " required></textarea>
                    </div>
                    
                    <div class="form-group">
                        <h3 class="required">上傳圖片</h3>
                        <!--p class="help-block">拉動圖片來排序(由左至右，由上至下)</p-->
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9">
                            <input id="upload_file" name="photo" type="file" accept=".png,.jpg,.jpeg, .bmp, .gif"/>
                        </div>
                        <div class="col-md-3 center">
                            <input class="btn btn-warning" type="submit" value="上傳"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="pic_row" >
                        <div class="row" id="movable_pic_row"></div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/uploaded.js"></script>
</html>
