<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/manage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
</head>
<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
    #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }
    </style>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 id="title" class="center">上傳檔案</h2>
            <br>
            <form id="upload-photos" class="row" action='/up' 
            method='post' 
            encType="multipart/form-data" >
                <div class="col-md-8 offset-md-2">
                    <div class="form-group ">
                        <h3 class="required">圖片標題(必填)</h3>
                        <input type="text" id="name" name = "name_i" class="form-control" placeholder="10字為限" maxlength = "10" required>
                    </div>
                    <div class="form-group ">
                        <h3 >描述</h3>
                        <textarea class="form-control" id="description" name = "description_i" rows="3" placeholder="100字為限" maxlength = "100" ></textarea>
                        <h6 id="limit"> 0/100 字</h6>
                    </div>
                    
                    <div class="form-group">
                        <h3 >上傳圖檔</h3>
                        <h6> 解析度要求：至少600x600像素
                        </h6>
                        <h6> 拉動圖片來排序(由左至右，由上至下)
                        </h6>
                        <!--p class="help-block">拉動圖片來排序(由左至右，由上至下)</p-->
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9">
                            <input id="upload_file" name="photo" type="file" accept=".png,.jpg,.jpeg, .bmp, .gif " onchange="checkFileDetails()" multiple="multiple">
                        </div>
                        <div class="col-md-3 center">
                            <input id="submit" class="btn btn-warning" type="submit" value="上傳 Upload"/>
                        </div>
                    </div>
                    <div class ="form-group">
                        <div class ="form-group">
                            <input type="radio" name="pagenum"  id="single" value="one">Single
                            <input type="radio" name="pagenum"  id="multi" value="multiple">Multiple
                        </div>
                        <div id="disp" style= "color:green; font-size:18px; font-weight:bold;"> 
	                    </div> 
                    </div>
                </div>
                <div class="col-md-12 offset-md-2">
                    <div id="pic_row" >
                        <div class="row" id="movable_pic_row"></div>
                        <p id="img"></p>
                        <ul id="sortable">
                            <li class="ui-state-default">1</li>
                            <li class="ui-state-default">2</li>
                            <li class="ui-state-default">3</li>
                            <li class="ui-state-default">4</li>
                            <li class="ui-state-default">5</li>
                            <li class="ui-state-default">6</li>
                            <li class="ui-state-default">7</li>
                            <li class="ui-state-default">8</li>
                            <li class="ui-state-default">9</li>
                            <li class="ui-state-default">10</li>
                            <li class="ui-state-default">11</li>
                            <li class="ui-state-default">12</li>
                        </ul>
                        <p id="fileInfo"></p>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/uploaded.js"></script>
</html>
