<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frame Carousel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <script src="https://iottalk.github.io/iottalk-js/dan2.js"></script>
    <!--link rel="stylesheet" href="css/style.css"-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <div class="main user">
      <div class="title">最佳圖片票選</div>
      <div class="button-wrapper">
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
        <button class="btn btn-warning btn-lg btn-block">圖片標題名稱</button>
      </div>
      <!--div class="tips">剩 00:00 公佈投票結果</div-->
      <iframe style="width: 960px; height: 100px; overflow: hidden;"  scrolling="no" frameborder="0" src="https://editor.p5js.org/gggaaammm/embed/5AuHW5xiE"></iframe>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>