<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frame Carousel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
    <div class="main grid">
      <div class="title">最佳圖片票選</div>
      <div class="pics clearfix">
        <div id="1" class="img" style="background-image: url('/images/photo_4.jpeg') ">
          <div class="circle">1</div>
        </div>
        <!--div id="2" class="img" style="background-image: url('/images/photo_5.jpeg')">
          <div class="circle">2</div>
        </div>
        <div id="3" class="img" style="background-image: url('/images/photo_6.jpeg')">
          <div class="circle">3</div>
        </div>
        <div id="4" class="img" style="background-image: url('/images/photo_7.jpeg')">
          <div class="circle">4</div>
        </div>
        <div id="5" class="img" style="background-image: url('/images/photo_8.jpeg')">
          <div class="circle">5</div>
        </div>
        <div id="6" class="img" style="background-image: url('/images/photo_9.jpeg')">
          <div class="circle">6</div>
        </div-->
      </div>
      <div class="title" id="sum"> </div>
      <!--div class="tips">剩 00:00 公佈投票結果</div-->
      <!--iframe  iframe style="width: 800px; height: 400px; overflow: hidden;"  scrolling="no" frameborder="0" src="https://editor.p5js.org/gggaaammm/embed/30FFZGVXP"></iframe-->
      
      <div style="margin:0px auto;">
        <button id="submitvote" class="btn btn-warning btn-lg" >Submit Your Vote</button>
      </div>
      <!--iframe  iframe style="width:450px; height: 90px; overflow: hidden; "  scrolling="no" frameborder="0" src="https://editor.p5js.org/gggaaammm/embed/5AuHW5xiE"></iframe-->
      

      <br>
      <div class="title">Upload</div>
        <div style="margin:0px auto;">
          <button class="btn btn-warning btn-lg" onclick="location.href = 'Upload';">Upload picture</button>
        </div>
        

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="js/vote.js"></script>
  </body>
</html>


