<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frame Carousel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    

    
    
  </head>
  <body>
    <div class="main grid">
      <div id="title" class="title">最佳圖片票選 / Voting</div>
      <div id="limit" class="tips">limit: </div>
      
      <label class="switch">
        <input type="checkbox" id="togBtn">
        <div class="slider round"></div>
        </label>
      
      <div id="pics" class="pics clearfix">
      
      <!--a  class="preview" data-fancybox="gallery1" href="images/photo_4.jpeg" data-caption="This image has a simple caption">
        <div id ="11" class="img" style="background-image: url('/images/photo_4.jpeg'); ">
            <div class="circle">0</div>
        </div>
      </a>

      <a  class="preview" data-fancybox="gallery1" href="images/photo_5.jpeg" data-caption="This image has a simple caption">
        <div id ="12" class="img" style="background-image: url('/images/photo_5.jpeg'); ">
            <div class="circle">0</div>
        </div>
      </a-->

        <!--div id ="0" class="img" style="background-image: url('/images/photo_4.jpeg') ">
            <div class="circle">-1</div></div>
        </div-->
        <!--div id="2" class="img" style="background-image: url('/images/photo_5.jpeg')">
          <div class="circle">2</div>
        </div>
        <div id="3" class="img" style="background-image: url('/images/photo_6.jpeg')">
          <div class="circle">3</div>
        </div>
        <div id="4" class="img" style="background-image: url('/images/photo_7.jpeg')">
          <div class="circle">4</div>
        </div>
        <div id="5" class="img" style="background-image: url('/images/photo_8.jpeg')">
          <div class="circle">5</div>
        </div>
        <div id="6" class="img" style="background-image: url('/images/photo_9.jpeg')">
          <div class="circle">6</div>
        </div-->
        
      </div>
      <div class="title" id="sum" > </div>
      <button id="T1" class="btn btn-warning btn-lg btn-block" style="text-align: left;">圖片標題名稱</button>
      <button id="T2" class="btn btn-warning btn-lg btn-block" style="text-align: left;">圖片標題名稱</button>
      <button id="T3" class="btn btn-warning btn-lg btn-block" style="text-align: left;">圖片標題名稱</button>
      <button id="T4" class="btn btn-warning btn-lg btn-block" style="text-align: left;">圖片標題名稱</button>
      <button id="T5" class="btn btn-warning btn-lg btn-block" style="text-align: left;">圖片標題名稱</button>
      <br>
      <img id="image_location" src="/images/Black.png" style="width:300px;height:300px">
      
      <!--div class="tips">剩 00:00 公佈投票結果</div-->
      <!--iframe  iframe style="width: 800px; height: 400px; overflow: hidden;"  scrolling="no" frameborder="0" src="https://editor.p5js.org/gggaaammm/embed/30FFZGVXP"></iframe-->
      
      <div style="margin:0px auto;">
        <button id="submitvote" class="btn btn-warning btn-lg" >Submit Your Vote</button>
      </div>
      <!--iframe  iframe style="width:450px; height: 90px; overflow: hidden; "  scrolling="no" frameborder="0" src="https://editor.p5js.org/gggaaammm/embed/5AuHW5xiE"></iframe-->
      

      <br>
      <div class="title">Upload</div>
        <div style="margin:0px auto;">
          <button class="btn btn-warning btn-lg" onclick="location.href = 'Upload';">Upload picture</button>
        </div>
        

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
   
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <script src="js/vote.js"></script>
  </body>
</html>


